.index {
  text-align: center;
  margin-top: 5%;
  /*min-width: -webkit-fill-available;*/
}

.childLogin {
  margin-left: 33vh;
  margin-right: 33vh;
  margin-top: 10vh;
  max-height: 85vh;
  
  /* talvez alterar a transparencia do branco */
  background-color: white;
 
  border-radius: 15px;
  border: solid;
  border-width: thin;
}

.contentLogin {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  max-height: 80vh;
}

.btn-entrar {
  background-color: #9CC44C ;
  color: white !important;
  border-color: transparent !important;
  width: 50%;
}

.btn-entrar:hover {
  background-color: #6A8534;
}

.titleLogin{
  color: #3F4596;
  text-align: center;
}


.textBottomText {
  color: black;
  text-decoration: underline;
}

.textBottomText:hover {
  color: #606060;
  text-decoration: underline;
}


.form-login {
  position: relative;
  margin-bottom: 1.5em;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.8;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 100%;
  transform: translate3d(0, -110%, 0);
  opacity: 1;
}

